* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  background: lightgray;
  height: 70px;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}
.column {
  width: 60%;
}
.content-a {
  height: 50vh;
  background: tomato;
}
.content-b {
  height: 50vh;

  background: #fcb040;
}
.content-c {
  height: 100vh;
  width: 40%;
  background: yellow;
}
footer {
  background: lightgray;
  height: 70px;
  width: 100%;
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .column {
    height: auto;
    width: 100%;
  }

  .content-a,
  .content-b,
  .content-c {
    height: 50vh;
    width: 100%;
  }
}
