* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  background: lightgray;
  height: 70px;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}
.content-a {
  background: #8cc63f;
  height: 100vh;
  width: 60%;
  order: 2;
}
.content-b {
  background: #0b9444;
  height: 100vh;
  width: 20%;
  order: 1;
}
.content-c {
  background: #f5ee31;
  height: 100vh;
  width: 20%;
  order: 3;
}

@media (max-width: 800px) {
  .content-b {
    order: 2;
    width: 50%;
    height: 20vh;
  }
  .content-a {
    order: 1;
    width: 100%;
    height: 59vh;
  }
  .content-c {
    order: 3;
    width: 50%;
    height: 20vh;
  }
}
@media (max-width: 600px) {
  .content-b {
    order: 2;
    width: 100%;
    height: 50vh;
  }
  .content-a {
    order: 1;
    width: 100%;
    height: 50vh;
  }
  .content-c {
    order: 3;
    width: 100%;
    height: 50vh;
  }
}
